.contact {
  margin-top: 12rem;
  width: 100%;
  display: flex;
  grid-template-columns: 30% 60%;
  gap: 12%;
}

.contact-container {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

from {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid blueviolet;
  resize: none;
  color: white;
}
button {
  font-size: 0.8rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  text-align: right;
  background: rgb(167, 89, 239);
}
