nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(4, 4, 126);
}
.right ul {
  display: flex;
  margin: auto;
}
.right ul li {
  list-style: none;
  margin: 0 1.4rem;
}
.right li a {
  text-decoration: none;
  color: white;
}
.right li a:hover {
  color: rgba(72, 108, 239, 0.449);
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  nav {
    width: 23rem;
    display: inline-block;
    flex-direction: column;
    gap: 0.1rem;
  }
}
